body {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: white;
}

.row {
  min-height: 50vh;
}

/* logo */
.logo {
  position: fixed;
  z-index: 1;
  width: 50%;
  top: 10%;
  left: 25%;
  border: solid 1px black;
}

/* merch */
.merch {
  background-color: #FD5F00;
}

.merch:hover{
  background-color:#0A0A08;
}

.merch-text {
  visibility: hidden;
}

.merch:hover p{
  visibility: visible;
}

/* bio */
.bio {
  background-color: #FFff14;
}

.bio-text{
  margin-top: 2.0em;
  visibility: hidden;
  font-size: 0.8em;
}

.bio-pic{
  visibility: hidden;
  width: 50%;
  height: 50%;
  margin-bottom: 0.5em;
}
.bio:hover{
  background-color: #0A0A08;
}

.bio:hover p{
  visibility: visible;
}

.bio:hover img{
  visibility: visible;
}

/* videos */
.videos {
  background-color: #1cf909;
}

.videos:hover {
  background-color: #0A0A08;
}

iframe {
  margin-top: 1.5em;
  visibility: hidden;
}

.video-title {
  margin-top: 0.5em;
  visibility: hidden;
}

.videos:hover h1 {
  visibility: visible;
}

.videos:hover iframe {
  visibility: visible;
}
/* shows */
.shows {
  background-color: #04d1e1;
}

.shows:hover {
  background-color: #0a0a08;
}

.shows-text {
  visibility: hidden;
}

.shows:hover p {
  visibility: visible;
}

/* music */
.music {
  background-color: #c20ed5;
}

.music:hover{
  background-color: #0a0a08;
}

.music-text {
  visibility: hidden;
}

.music:hover p {
  visibility: visible;
}

/* contact */
.contact {
  background-color: #dd0048;
}

.contact-content {
  visibility: hidden;
}
.social-media-logo {
  width: 15%;
  margin-top: 1.2em;
}

.logo-container{
  display: flex;
  flex-direction: column;
}
.contact-text {
  margin-top: 1.0em;
}

.contact:hover{
  background-color: #0a0a08;
}

.contact:hover div {
  visibility: visible;
}

