body {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.row {
  min-height: 50vh;
}

/* merch */
.merch {
  background-color: #FD5F00;
}

.merch:hover{
  background-color:#0A0A08;
}

/* bio */
.bio {
  background-color: #FFff14;
}

.bio-text{
  margin-top: 2.0em;
  visibility: hidden;
  color: white;
  font-size: 0.8em;
}

.bio-pic{
  visibility: hidden;
  width: 50%;
  height: 50%;
  margin-bottom: 0.5em;
}
.bio:hover{
  background-color: #0A0A08;
}

.bio:hover p{
  visibility: visible;
}

.bio:hover img{
  visibility: visible;
}

/* videos */
.videos {
  background-color: #1cf909;
}

.videos:hover {
  background-color: #0A0A08;
}

/* shows */
.shows {
  background-color: #04d1e1;
}

.shows:hover {
  background-color: #0a0a08;
}

/* music */
.music {
  background-color: #c20ed5;
}

.music:hover{
  background-color: #0a0a08;
}

/* contact */
.contact {
  background-color: #dd0048;
}

.contact:hover{
  background-color: #0a0a08;
}

